---
title: "Koala Mama"
layout: default
permalink: "/authors/koala-mama"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.koalamama.twitter }}">Follow</a></span></h2>
                <p><a href="{{ site.authors.koalamama.site }}">{{ site.authors.koalamama.site }}</a></p>
                <p class="excerpt">{{ site.authors.koalamama.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.koalamama.name }}" src="{{site.baseurl}}/{{ site.authors.koalamama.avatar }}" class="rounded-circle" height="100" width="100">
            </div>

            <div class="col-md-3">
                {% if site.authors.koalamama.instagram %}<a target="_blank" href="{{ site.authors.koalamama.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.pinterest %}<a target="_blank" href="{{ site.authors.koalamama.pinterest }}"><i class="fab fa-pinterest text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.twitter %}<a target="_blank" href="{{ site.authors.koalamama.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.site %}<a target="_blank" href="{{ site.authors.koalamama.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;{% endif %}
            </div>
        </div>

        <h4 class="font-weight-bold spanborder"><span>Why I Share My Life</span></h4>
        <p>
            Hello!!! I am a Mom of two beautiful children that are 2 years apart. I found out I was pregnant with my first, as the world was shutting down because of COVID. Working in hospitality and having the unfortunate task of furloughing my entire hotel, I knew any day would be my last day. As a very hormonal first time mom, I started writing notes and doing tons of research ( both I think made me a little crazy) but I was lonely, sad, scared and excited to see my little cinnamon roll all at the same time! Growing up with dyslexia I have NEVER been a writer but writing these notes became a healthy outlet for me during this very lonely hormonal times.  
        </p>

        <details class="mb-5">
            <summary>Tell me more!</summary>
            I was one of the first in my friend group to have a kid, and the first to have a girl. My notes and crazy research came in handy for all my friends who got pregnant after me. As their parenthood journeys went on, I would send novels through text and email with all sorts of tips, tricks, and funny moments. And, let's be honest, the REAL moments are breastfeeding with your cracked nipples and crying because your vagina hurts so bad going pee feels like an olympic sport. 
<br /><br />
A huge part of who I am revolves around food. I love how food has the ability to bring people together, heal and put a smile on someone's face. I have worked two or more jobs for most of my adult life so juggling work and life has not always left time for working out, this required me to eat healthy with the exception of my very big sweet tooth (Life is not worth living without dessert). Being pregnant doing a global pandemic really kicked my healthy eating up a notch. Then trying to get pregnant right away with my second, this made me work on new recipes and tweaking old ones to make them approved by my little, my husband and my ever changing body.   
<br /><br />
<h4>You might be wondering why a blog, why now, how do I have time?</h4>
Well the simple of it is about 8 years ago I asked my now husband if he could write an app for me where I could store and share my recipes. My then childhood friend thought I was crazy and said to just use pinterest... fast forward 8 years well honey I now have a blog, pinterest and an instagram ( follow me for updates :) and I don't just share my recipes, but also my opinions and of course my “because you deserve it” sweet treats. I figured if I'm sharing with friends why not share with all of you, this is my real time journey through motherhood. The good, the bad, "the oops" moments. 
I am the stay at home mom who is never alone but still feels lonely, I am the mom who hasn't showered in 4 days and hasn't had a full night's sleep in 4 years who is fully in the trenches with you. As beautiful as motherhood is, it is also really hard and I want to be that fellow parent who can tell other parents you are not alone, you are not crazy and you matter. 

        </details>

        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","koalamama" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>

<a target="_blank" class="btn btn-warning d-block col-lg-3 mx-auto" href="https://www.buymeacoffee.com/KoalaCo"><img src="{{ site.baseurl }}/assets/images/coffee.png" alt="cup of coffee image" width="auto" height="24" /> Buy me a coffee</a>
</div>