---
title: "Koala Mama"
layout: default
permalink: "/author-koala-mama.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.koalamama.twitter }}">Follow</a></span></h2>
                <p><a href="{{ site.authors.koalamama.site }}">{{ site.authors.koalamama.site }}</a></p>
                <p class="excerpt">{{ site.authors.koalamama.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.koalamama.name }}" src="{{site.baseurl}}/{{ site.authors.koalamama.avatar }}" class="rounded-circle" height="100" width="100">
            </div>

            <div class="col-md-3">
                {% if site.authors.koalamama.instagram %}<a target="_blank" href="{{ site.authors.koalamama.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.pinterest %}<a target="_blank" href="{{ site.authors.koalamama.pinterest }}"><i class="fab fa-pinterest text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.twitter %}<a target="_blank" href="{{ site.authors.koalamama.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;{% endif %}
                {% if site.authors.koalamama.site %}<a target="_blank" href="{{ site.authors.koalamama.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;{% endif %}
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","koalamama" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>

<a target="_blank" class="btn btn-warning d-block col-lg-3 mx-auto" href="https://www.buymeacoffee.com/KoalaCo"><img src="{{ page.site_url }}assets/images/coffee.png" alt="cup of coffee image" width="auto" height="24" /> Buy me a coffee</a>
</div>