---
title: "Raising Orthodox Kids"
layout: default
permalink: "/roks"
---

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h4 class="font-weight-bold title h6 text-uppercase mb-4">Raising Orthodox Kids</h4>
        {% for rok in site.roks %}
          <a href="{{rok.url}}">{{ rok.title }}</a>
        {% endfor %}


      </div>
        
      <div class="col-md-4">
        {% include sidebar-featured-recipes.html %}    
      </div>
        
    </div>
</div>