---
title: "Rotating Shop"
layout: default
pagination:
    enabled: true
permalink: "/shop"
description: "These are some of the items that I have bought as a mother - rotated to keep in minimal."
---


<div class="container">
    
{% if page.url == "/" %}
    
    
<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row remove-site-content-margin">
    
    <!-- latest post -->
    {% assign latest_post = site.categories['parent'][0] %}
    <div class="col-md-6">
    <div class="card border-0 mb-4 box-shadow">   
    <a href="{{site.baseurl}}{{latest_post.url}}">
    <div class="topfirstimage" style="background-image: url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{site.baseurl}}/{{ latest_post.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;    background-position: {% if latest_post.image_position and latest_post.image_position != "" and latest_post.image_position != nil %}{{ latest_post.image_position }}{% else %}center{% endif %};"></div>     
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <p class="excerpt">
        {{ latest_post.excerpt | strip_newlines | truncate: 142 }}
    </p>
    <div>
        <small class="d-block text-muted">
            In <span class="catlist">
                {% for category in latest_post.categories %}
                <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/topics#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                {% endfor %}
                </span>                   
        </small>
        <small class="text-muted">
            {{ latest_post.date | date: '%b %d, %Y' }}
        </small>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-6">
        
        <!-- second latest post -->
        {%- assign second_post = site.categories['parent'][1] -%}      
        <div class="mb-3 d-flex align-items-center">                
                {% if second_post.image %}
                <div class="col-md-4" style="max-height: 92px; overflow: hidden;">
                <a href="{{site.baseurl}}{{second_post.url}}">
                 <img class="w-100" src="{% if second_post.image contains "://" %}{{ second_post.image }}{% else %}{{site.baseurl}}/{{ second_post.image}}{% endif %}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in second_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/topics#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ second_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.categories['parent'][2] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if third_post.image %}
                <div class="col-md-4" style="max-height: 92px; overflow: hidden;">
                <a href="{{site.baseurl}}{{third_post.url}}">
                 <img class="w-100" src="{% if third_post.image contains "://" %}{{ third_post.image }}{% else %}{{site.baseurl}}/{{ third_post.image }}{% endif %}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in third_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/topics#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ third_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.categories['parent'][3] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if fourth_post.image %}
                <div class="col-md-4" style="max-height: 92px; overflow: hidden;">
                <a href="{{site.baseurl}}{{fourth_post.url}}">
                <img class="w-100" src="{% if fourth_post.image contains "://" %}{{ fourth_post.image }}{% else %}{{site.baseurl}}/{{ fourth_post.image }}{% endif %}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="d-block text-muted">
                        In <span class="catlist">
                        {% for category in fourth_post.categories %}
                        <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/topics#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>                   
                    </small>
                    <small class="text-muted">
                        {{ fourth_post.date | date: '%b %d, %Y' }}
                    </small>
                </div>
            </div>
        
    </div>
    
</div>
    
<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% for post in site.posts %} 
{% if site.banner_posts contains post.title %}
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                <a href="{{site.baseurl}}{{post.url}}" class="text-dark">
                    <h1 class="mb-3">{{post.title}}</h1>
                    <p class="mb-3 lead">
                        {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
                    </p>
                </a>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-position: {% if post.image_position and post.image_position != "" and post.image_position != nil %}{{ post.image_position }}{% else %}center{% endif %};background-image:url({{site.baseurl}}/{{ post.image }});" onclick="window.location.href={{site.baseurl}}{{post.url}}"></div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %}


    


{% endif %} <!--endif page url is / -->
    

<div class="row mt-3">
   
    <div class="col-md-8 main-loop">
        <!-- if this is not the first pagination page, show all posts instead of recipes here -->
        <h4 class="font-weight-bold spanborder"><span>Rotating Shop</span></h4>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/Hills-Bros-Cappuccino-French-Vanilla/dp/B003SD83GE?crid=ATJYF5FNTY2&keywords=hillsbros&qid=1689469214&sprefix=hillsbro%2Caps%2C160&sr=8-1&th=1&linkCode=ll1&tag=koalaco-20&linkId=2f9cea533f2938082ea83bf35f5341c7&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/71NkwGTkP5L._SX679_.jpg" alt="Hills Bros Instant Cappuccino Mix English Toffee" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">Hills Bros Instant Cappuccino Mix English Toffee<br />$3.72</p>
            </a>
        </div>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/Hills-Bros-Cappuccino-French-Vanilla/dp/B005Z6AK2C?crid=ATJYF5FNTY2&keywords=hillsbros&qid=1689469214&sprefix=hillsbro%2Caps%2C160&sr=8-1&th=1&linkCode=ll1&tag=koalaco-20&linkId=e188f9a3f3a9ff05f16068c6901a69ee&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/81R2PESX5pL._SX679_.jpg" alt="Hills Bros Instant Cappuccino Mix White Chocolate Caramel" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">Hills Bros Instant Cappuccino Mix White Chocolate Caramel<br />$3.72</p>
            </a>
        </div>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/Hills-Bros-Cappuccino-French-Vanilla/dp/B000KOWLDK?crid=ATJYF5FNTY2&keywords=hillsbros&qid=1689469214&sprefix=hillsbro%2Caps%2C160&sr=8-1&th=1&linkCode=ll1&tag=koalaco-20&linkId=6cd213fa604feeabeac4303a5106703e&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/81Omwir5NBL._SX679_PIbundle-6,TopRight,0,0_AA679SH20_.jpg" alt="Hills Bros Instant Cappuccino Mix French Vanilla" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">Hills Bros Instant Cappuccino Mix French Vanilla<br />$3.72</p>
            </a>
        </div>

        <div>Hazelnut, Salted Caramel</div>
        


        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/dp/B0BV96FZC5?&linkCode=ll1&tag=koalaco-20&linkId=1d57cac03be36c4fcfe0f25e9112faaa&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/71+AiQsNZfL._AC_SX679_.jpg" alt="74 inch Phone Tripod with Adjustable Gooseneck and Remote" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">74 inch Phone Tripod with Adjustable Gooseneck and Remote<br />$26.89</p>
            </a>
        </div>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/gp/product/B09Y2X49Z4?smid=A10DAECOX28H4C&psc=1&linkCode=ll1&tag=koalaco-20&linkId=f8f4582ee8837da42e1615bfaf84a7bd&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/711VURz2lzL._SX466_.jpg" alt="150 4.5cm Alligator Hair Clips" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">150 4.5cm Alligator Hair Clips<br />$7.99</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/gp/product/B09Y2X49Z4?smid=A10DAECOX28H4C&psc=1&linkCode=ll1&tag=koalaco-20&linkId=f8f4582ee8837da42e1615bfaf84a7bd&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/711VURz2lzL._SX466_.jpg" alt="150 4.5cm Alligator Hair Clips" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">150 4.5cm Alligator Hair Clips<br />$7.99</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/gp/product/B07WNG7TT8?smid=A3LWRI14GAO4I4&psc=1&linkCode=ll1&tag=koalaco-20&linkId=838ae7ed17832cdc307c72de99ce5557&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/81FjB+FrTLL._SX466_.jpg" alt="100 Baby Nylon Headbands" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">100 Tan Color Baby Nylon Headbands<br />$10.98</p>
            </a>
        </div>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/Munchkin-Miracle-Sippy-Purple-Ounce/dp/B07PXHX5K3?crid=1W93GZF1CMMC9&keywords=baby+cups&qid=1688797256&sprefix=baby+cups%2Caps%2C186&sr=8-40&linkCode=ll1&tag=koalaco-20&linkId=993af7fa1ef99ee746bc30c35cb65e14&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/61fYMRlFNLL._SX679_.jpg" alt="2 Munchkin Miracle 360 Toddler Sippy Cups" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">2 Munchkin Miracle 360 Toddler Sippy Cup, 10 Oz<br />$13.13</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/Munchkin-Splash-Toddler-Training-Ounce/dp/B078WRTMXK?crid=1W93GZF1CMMC9&keywords=baby+cups&qid=1688797256&sprefix=baby+cups%2Caps%2C186&sr=8-58&linkCode=ll1&tag=koalaco-20&linkId=372ed73523e02ac7250610f5cc0a52be&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/81giU8m4D9L._AC_SX569_.jpg" alt="4 Munchkin Splash Open Toddler Cups" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">4 Munchkin Splash Open Toddler Cups<br />$15.50</p>
            </a>
        </div>
        
        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/dp/B07TGQNZ27?coliid=IY1CNCVK5FP7N&colid=DGJ6K868BDTL&th=1&psc=1&linkCode=ll1&tag=koalaco-20&linkId=fae237c40f6c90384e0f0745ebfa2594&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/71csadTBVjL._AC_UX679_.jpg" alt="10 Hanes Boys' Toddler Underwear" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">10 Hanes Boys' Toddler Underwear<br />$13.99</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/dp/B01M8EXHHV?coliid=I2QMVI3Z1X75HG&colid=DGJ6K868BDTL&psc=1&linkCode=ll1&tag=koalaco-20&linkId=b4b99c6869e81c5f234ce0d3ed50b976&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/91SFGOZyjJS._AC_UY741_.jpg" alt="Fruit of the Loom Toddler Girls' Tag-Free Cotton Underwear" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">12 Fruit of the Loom Toddler Girls' Tag-Free Cotton Underwear<br />$11.98</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/dp/B0BZCNP5VK?&linkCode=ll1&tag=koalaco-20&linkId=d1f02e470bb8e26bafacc60d15cdb7f9&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/71juSq38DpL._AC_SX679_.jpg" alt="4 8oz Spill Proof Stainless Steel Kids Water Bottle" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">4 8oz Spill Proof Stainless Steel Kids Water Bottle<br />$27.91 on sale</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/POWEROWL-Rechargeable-Batteries-Capacity-2800mAh/dp/B09V3113YL?crid=36EQ7M2AEKDU&keywords=powerowl&psr=PDAY&qid=1689178523&s=prime-day&sprefix=powerowl%2Cprime-day%2C147&sr=1-3&linkCode=ll1&tag=koalaco-20&linkId=7b0c4def7aa496abaac922d6a4e8ba08&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/8115VD350WL._AC_SX679_.jpg" alt="16 POWEROWL Goldtop Rechargeable AA Batteries High Capacity 2800mAh Premium NiMH" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">16 POWEROWL Goldtop Rechargeable AA Batteries High Capacity 2800mAh Premium NiMH<br />$23.19 on sale</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/POWEROWL-Rechargeable-Batteries-Capacity-Discharge/dp/B07MQ8YRF3?&linkCode=ll1&tag=koalaco-20&linkId=f7004c4360ef811d0817624e4e972376&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/I/71oBLHnR3OL._AC_SX679_.jpg" alt="16 POWEROWL AA Rechargeable Batteries 2800mAh 1.2V NiMH" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">16 POWEROWL AA Rechargeable Batteries High Capactiy 2800mAh 1.2V NiMH<br />$25.99</p>
            </a>
        </div>

        <div class="w-24 d-inline-block mb-3 align-top">
            <a href="https://www.amazon.com/baby-reg/homepage?&linkCode=ll2&tag=koalaco-20&linkId=1dfe6d3473df508ec611286b76af8ae8&language=en_US&ref_=as_li_ss_tl">
                <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
                <br />
                <img class="mb-2" src="https://m.media-amazon.com/images/G/01/baby/registry/aui/babylogo_home_300x85._CB479575786_.png" alt="Amazon.com Baby Registry" height="80px" width="auto" />
                <br />
                <p class="mb-2" style="font-size: 12px;">Amazon.com Baby Registry</p>
            </a>
        </div>
        
    </div>
    
    <div class="col-md-4 mb-3">
        {% include sidebar-featured.html %}
    </div>
    
</div>


<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
    
<div class="row mt-3">
   
    <div class="col-md-12 main-loop">
        
        {% if paginator.page == 1 %}
        <!-- if this is the first index page, show all posts -->
        <h4 class="font-weight-bold spanborder"><span>All Posts</span></h4>

        {% for post in paginator.posts %}
            {% if post.categories contains "recipe" %}
            {% else %}
                {% include main-loop-card.html %}
            {% endif %}
        {% endfor %}
        {% endif %}
        
        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination"> 
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}      
        </div>
        
    </div>
    
</div>

{% include email-subscription-form.html %}

</div>