<div class="w-24 d-inline-block mb-3 align-top">
    <a href="{{ include.purchase_url }}">
        <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt="Amazon.com Logo" height="20px" width="auto" />
        <br />
        <img class="mb-2" src="{{ include.image_url }}" alt="{{ include.title }}" height="80px" width="auto" />
        <br />
        <p class="mb-2" style="font-size: 12px;">{{ include.title }}<br />{{ include.price }}</p>
    </a>
</div>