<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>  
    <a target="_blank" href="https://www.amazon.com/baby-reg/homepage?&linkCode=ll2&tag=koalaco-20&linkId=3244fe6832cb61a584dc9f22d918d368&language=en_US&ref_=as_li_ss_tl"><img class="mx-auto mb-3 d-block px-4" src="{{site.baseurl}}/assets/images/Amazon-Baby-Registry-Signup.png" /></a>
    <ol class="list-featured">				
        {% for post in site.tags.featured %}
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/topics#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>                
        {% endfor %}   
    </ol>
    <!-- <a target="_blank" href="https://www.amazon.com/baby-reg/homepage?&linkCode=ll2&tag=koalaco-20&linkId=3244fe6832cb61a584dc9f22d918d368&language=en_US&ref_=as_li_ss_tl"><img class="mx-auto d-block" src="{{site.baseurl}}/assets/images/Amazon-Baby-Registry-Signup-blue-bg.png" /></a> -->
</div> 